body {
    background-color: rgb(247, 243, 194);
    text-align: center;
}

h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

li {
    list-style: none;
}

p {
    font-size: 20px;
}

footer {
    color: dark rgb(59, 59, 59);
}

#burger {
    margin: 0;
    display: inline;
}

#element {
    margin-bottom: 10px;
}

#burger_img {
    height: 150px;
    width: 150;
    margin-top: 20px;
}

#instructions {
    font-size: 15px;
}

#input {
    margin-bottom: 0;
}

#submit {
    margin-top: 5px;
}
